.about-hero {
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: red;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.65);
}
.hero-content {
  position: relative;
  z-index: 2;
}
.hero-content h1 {
  font-size: 3rem;
}
.hero-content span {
  color: #ff9f43;
}
.hero-content p {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #e3b341;
}