/* ---------- RESPONSIVE ------------- */
@media (max-width: 1000px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image-wrapper {
    width: 90%;
  }

  .about-text h1 {
    font-size: 40px;
  }

  .about-text p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .about-bridge {
    padding: 40px 20px;
  }

  .bg-layer {
    right: -10px;
  }

  .about-img {
    border-radius: 15px;
  }
}
@media (max-width: 992px) {
  .why-features {
    grid-template-columns: repeat(2, 1fr);
  }

  .why-text h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  .why-features {
    grid-template-columns: 1fr;
  }

  .feature-box {
    padding: 28px 18px;
  }

  .why-text h2 {
    font-size: 1.9rem;
  }

  .why-text p {
    font-size: 0.95rem;
  }
}
@media (max-width: 900px) {
  .mv-container {
    grid-template-columns: 1fr;
  }
  .mv-box h2 {
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  .mv-box {
    padding: 30px 20px;
  }
  .mv-box p {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .founder-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .founder-text blockquote {
    margin: auto;
  }
}
